
<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ng-include src="'templates/centercontent.html'"></ng-include>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <h1 class="title">Projects</h1>
      <button class="button button-icon" ng-click="newProject()">
        <i class="icon ion-plus"></i>
      </button>
    </header>
    <ion-content class="has-header">
    {{ projectKeys}}
      <ul class="list">
    text
        <li ng-repeat="key in projectKeys"
            ng-click="selectProject(key)"
            ng-class="{active: activeProject === project}">
            test
          {{ projects[key].title }}
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
