<ion-view title="{{ activeProject.title }}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="newTask()" class="button button-icon icon ion-compose"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ul class="list">
      <li class="item item-checkbox task"
        ng-repeat="(key, task) in activeTasks"
        ng-class="{finished: activeTasks[key].finished === true}">
        <label class="checkbox checkbox-balanced">
          <input type="checkbox" ng-model="task.finished" ng-click="toggleTask(key)">
        </label>
        <span>{{ task.title }}</span>
        <button class="button button-icon icon ion-close-circled
          x-box red"
          ng-click="deleteTask(key)"></button>
      </li>
    </ul>

    <!-- red horizontal lines -->
    <div class="margins"></div>
  </ion-content>
</ion-view>



