<ion-view title="Tasks">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <!--
    <ul class="list">
      <li ng-repeat="key in taskKeys"
          ng-click="toggleTask(key)"
          ng-class="{active: activeTasks[key].finished === true}">
        <ion-checkbox ng-model="isChecked">{{ activeTasks[key].title }}</ion-checkbox>
      </li>
    </ul>
  -->
centercontent
  </ion-content>
</ion-view>
