<div class="modal">

  <!-- Modal header bar -->
  <header class="bar bar-header bar-secondary">
    <h1 class="title">New Project</h1>
    <button class="button button-clear button-positive" ng-click="closeNewProject()">Cancel</button>
  </header>

  <!-- Modal content area -->
  <ion-content has-header="true">
    <form ng-submit="createProject(project)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="New Project name" ng-model="project.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Project</button>
      </div>
    </form>
  </ion-content>
</div>
